@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

body{
  font-family: 'Roboto', sans-serif;
  background-color: #5f351f;
}

.team-img {
  float: left;
  margin-right: 20px;
  max-width: 50%;
}

.right-image {
  float: right;
  margin-left: 20px;
  max-width: 50%;
}

.beers-img {
  max-width: 100%;
}

.custom-navbar {
  display: flex;
  align-items: center;
  height: 100%; 
}

.custom-navbar .navbar-brand img{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.all-content-container{
  display: block;
  width: 85%;
  max-width: 2000px;
  margin: 0 auto;
  background-color: #ffffff;
}

.bg-roastbier-main{
  background-color: #ffffff;
}

.description{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: justify;
}

.thebeers{
  color: rebeccapurple;
}

.col-md-6{
  position:relative;
}

.nav-link{
  display: flex;
  align-items: center;
  padding: 8px 12px;

  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #eba61c;
  color: #ffffff;
}

.sidebar-left {
    position: sticky;
    top: 0;
    height: 100vh;
}

.sidebar-right {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 20px;
  color:#616161

}

.sidebar-sticky{
  margin-top: 10px;
}

.sidebar-left .nav-link,
.sidebar-right .nav-link {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 5px;

}

a.nav-link {
  transition: filter 300ms;
}
a.nav-link:hover {
  filter: brightness(0.8);
  color: white;
}
a.nav-link:active {
  filter: brightness(0.6);
  color: white;
}

.icon{
  margin-right: 8px;
  width: 20px;
  height: 20px;
}

h1.title{
  text-transform: capitalize;
}

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.2em;
}

table{
  width: 100%;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #eba61c;
  color: white;
  padding: 5px 15px;
  margin-top: 20px;
  margin-right: 8px;
}

thead {
  background-color: lightgray;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: white;
}

tbody tr:nth-child(odd) {
  background-color: lightgray;
}