body{
  font-family: 'Roboto', sans-serif;
  background-color: #8f620f;
}

.team-img {
  float: left;
  margin-right: 20px;
  max-width: 50%;
}

.right-image {
  float: right;
  margin-left: 20px;
  max-width: 50%;
}

.beers-img {
  max-width: 100%;
}

.custom-navbar {
  display: flex;
  align-items: center;
  height: 100%; 
}

.custom-navbar .navbar-brand img{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.all-content-container{
  display: block;
  width: 85%;
  margin: 0 auto;
  background-color: #ffffff;
}

.bg-roastbier-main{
  background-color: #ffffff;
}

.description{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.thebeers{
  color: rebeccapurple;
}

.col-md-6{
  position:relative;
}

.nav-link{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #eba61c;
  color: #ffffff;
}

.nav-item{
  border: #7c7c7c 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.sidebar-left {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: #ffffff;
}

.sidebar-right {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: #ffffff;
  padding: 20px;
  color:#7c7c7c
}

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1.2em;
}

table{
  width: 100%;
}

th, td{
  border: 2px solid rgb(19, 0, 128);
  padding-left: 10px;
  border-radius: 2px;
}